body  {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-print-color-adjust: exact;
}


#resume {
    width: 800px;
    margin: auto;
    padding: 40px 0 0 0;
}

#projects {
    display: none;
}

#principles {
    display: none;
}

#experience {
    display: none;
}

#process h1 {
    margin-bottom: 30px;
}

#speaker {
    display: none;
}

#process blockquote, #principles blockquote{
    width: 80%;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 20px;
    /* border-left: 3px solid #ad4470; */
    font-family: inherit;
    font-weight: 500;
    margin: 40px 0;
}

#education {
    display: none;
}

section {
    margin-bottom: 60px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

h2  {
    font-size: 23px;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #000000;
    display: table;
}

h3  {
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 0px;
}

p, a {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 30px 0;
}

a {
    color: #ad4470;
}

em {
    /* font-family: georgia, serif; */
}

blockquote  {
    margin: 30px 0;
}

blockquote, blockquote a {
    font-size: 32px;
    color: #000;
    font-family: georgia, serif;
    line-height: 1.4;
}

.Logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 43px;
}

.Skillset {
    list-style: disc;
}

.Skillset li, ol li  {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.Image {}

.Image--center {
    width: 100%;
    margin: 0 0 30px 0;
}

.Image--right {
    display: inline-block;
    float: right;
    width: 50%;
    margin: 0 0 30px 30px;
}

.Image--right-medium {
    width: 40%;
}

.Image--left {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 0 30px 30px 0px;
}

.Image img {
    width: 100%;
}

.Image figcaption  {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    color: #808080;
    margin-top: 10px;
}

.Splitter {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 10px;
    margin: 0px 0 30px 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #eee;
}

table {
    width: 100%;
}

tr {
    display: flex;
    border-bottom: 1px solid #eeeeee;
}

tr:last-child {
    border-bottom: 0;
}

td {
    width: 50%;
}

td p, td p a	{
    font-size: 14px;
}

.Signature {
    display: block;
    margin: 100px 0 100px 0;
}

.Fleuron {
    display: block;
    margin: 0 0 100px 0;
}

.Gallery {
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
}

.Gallery img	{
    width: 100%;
    align-self: center;
}

.Gallery .half	{
    width: 50%;
}

.Gallery--2col img	{
    width: 50%;
    align-self: center;
}

.Gallery--3col img	{
    width: 33%;
    align-self: center;
}

.ProjectTwoColumn {
    display: flex;
    justify-content: space-between;
}

.ProjectTwoColumn .Project {
    width:48%;
}

.ProjectTwoColumn .Project h3 {
    font-size: 18px;
    margin-bottom: 8px;			
}

.ProjectTwoColumn .Project p,a {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 30px 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

footer {
    position: relative;
}

footer img {
    width: 100%;
    margin-bottom:-3px;
}

.sun {
    width: 80px;
    height: 80px;
    background: yellow;
    border-radius: 80px;
    position: relative;
    overflow: hidden;
    margin: 0 100px;
}

.moon {
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 80px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.world {
    position: absolute;
    top: 20px;
    z-index: -1;
}

.Break {
    /* display: none; */
    text-align: center;
    padding: 0px 0 30px 0;
    font-size: 20px;
}



@media only screen and (min-width: 320px) {
    #resume {
        width: 100%;
        margin: auto;
        padding: 40px 10px 0 10px;
        box-sizing: border-box;
    }

    .TwoColText {
        column-count: 1;
        /* column-gap: 30px; */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .ProjectTwoColumn   {
        display: block;
    }

    .ProjectTwoColumn .Project {
        width:100%;
    }
    
    tr   {
        display: block;
        border-bottom: 0;
    }

    td {
        width: 100%;
        display: block;
        border-bottom: 1px solid #eeeeee;
    }

    blockquote  {
        padding: 0;
    }

}

.page-break {
    overflow: hidden;
}

@media print {
    .Logo   {
        display: none;
    }

    #resume {
        padding: 0;
    }

    .TwoColText {
        column-count: 2;
        column-gap: 30px;
    }

    .page-break	{ display: block; page-break-before: always; }

    blockquote  {
        padding: 0 120px 0 0px;
    }
}
    
@media only screen and (min-width: 430px) {
    
}

@media only screen and (min-width: 560px) {
   
}

@media only screen and (min-width: 800px) {
    #resume {
        width: 800px;
        margin: auto;
        padding: 40px 0 0 0;
    }

    .TwoColText {
        column-count: 2;
        column-gap: 30px;
    }

    .ProjectTwoColumn   {
        display: flex;
    }

    .ProjectTwoColumn .Project {
        width:48%;
    }

    tr   {
        display: flex;
        border-bottom: 1px solid #eeeeee;
    }

    td {
        width: 50%;
        border-bottom: 0;
    }

    blockquote  {
        padding: 0 120px 0 0px;
    }
}

.contact {
    margin: 2px 0 50px 0;
    font-size: 16px;
    color: #808080;
}

.Color {
    list-style: none;
    padding: 0;
    margin: 40px 0 20px 0;
}

.Color li {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: inline-block;
    margin: 0 20px 20px 0;
}

.Color--3 { background: #c0392b; }

.Color--2 { background: #d35400; }

.Color--4 { background: #16a085; }

.Color--5 { background: #2980b9; }

.Color--6 { background: #8e44ad; }

.Color--1 { background: #e67e22; }

.Color--7 { background: #785959; }

.Color--8 {  background: #A5A5A7; }

.label {
    color: #808080;
}

.speakerdeck {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.speakerdeck li {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
}

.speakerdeck li img {
    width: 40%;
    align-self: center;
    margin-right: 30px;
}

.speakerdeck li div {
    width: auto;
    flex-grow: 1;
}